* {
    font-family: Comic Sans MS, Comic Sans, cursive;
    
    }
    
    ul {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    li {
        display: inline;
        margin: 10px 10px 10px 10px;
    }
    
    .main{
    
    margin-bottom: -100px;
    
    }

    #nav {
        background-color: rgb(146, 146, 146);
        padding: 1px;
        margin-left: 200px;
        margin-right: 200px;
    }

    .barra input{
        margin-top: 35px;
        margin-left: 350px;
        width: 800px;
        height: 45px;
        border: 3px solid black;
        font-size: 1.75em;
    }

    #nav a {
        color: white;
    }

    a {
        color: rgb(0, 102, 255);
        text-decoration: underline;
        font-size: 1em;
    }

    h1 {
        color: black;
        margin-left: 40px;
    }

.subtitle h1{
    text-align: center;
    font-size: 2.50em;
}

/* ----------------------------------- */

#back2 {
    background-color: white;
    border: 3px solid black;
    margin-left: 200px;
    margin-right: 1400px;
    margin-top: 60px;
    height: 450px;
}

.main2 h1{
    margin-left: 55px;
    font-size: 2em;
}

.main2 img{
    height: 130px;
    width: 130px;
    margin-left: 80px;
    margin-top: 60px;
}

.main2 h3{
    text-align: center;
    font-size: 1.50em;
    margin-left: -10px;
    text-decoration-line: underline;
    color: rgb(39, 158, 255);
    cursor: pointer;
}

.nav2 button{
    box-shadow: 5px 5px black;
        color:black;
        background-color: rgb(255, 251, 0);
        border: 3px solid black;
        width: 150px;
        height: 50px;
        cursor: pointer;
        font-size: 1.25em;
    }

    .nav2{
        margin-left: 20px;
        margin-top: 60px;
    }

.text2 p{
    font-size: 1.30em;
}

.text2{
    margin-top: -170px;
    margin-left: 400px;
}

/* ----------------------------------- */

#back4 {
    background-color: white;
    border: 3px solid black;
    margin-left: 640px;
    margin-right: 600px;
    margin-top: -454px;
    height: 260px;
    width: 1055px;
}

.main4 h1{
    font-size: 2em;
    text-align: left;
    margin-left: 120px;
    margin-top: -70px;
}

.nav4 h3{
    font-size: 1.80em;
    text-align: left;
    margin-left: 630px;
    margin-top: -116px;
}

.nav4 h6{
    font-size: 2em;
    text-align: left;
    margin-left: 580px;
    margin-top: -45px;
}

.main4 h2{
    font-size: 1.30em;
    text-align: left;
    margin-left: 120px;
    margin-top: 40px;
}

.main4 il{
    text-align: left;
    text-decoration-line: underline;
    color: rgb(39, 158, 255);
    cursor: pointer;
}

.nav4 button{
    box-shadow: 5px 5px rgb(0, 0, 0);
        color:black;
        background-color: rgb(255, 217, 0);
        border: 3px solid black;
        width: 100px;
        height: 50px;
        cursor: pointer;
        font-size: 1.25em;
        margin-left: 760px;
        margin-top: 40px;
    }

    .nav4 {
        margin-left: 80px;
        margin-top: 10px;
    }

    /* ----------------------------------- */

    #back5 {
        background-color: white;
        border: 3px solid black;
        margin-left: 640px;
        margin-right: 600px;
        margin-top: 30px;
        height: 260px;
        width: 1055px;
    }
    
    .main5 h1{
        font-size: 2em;
        text-align: left;
        margin-left: 120px;
        margin-top: -70px;
    }
    
    .nav5 h3{
        font-size: 1.80em;
        text-align: left;
        margin-left: 630px;
        margin-top: -116px;
    }
    
    .nav5 h6{
        font-size: 2em;
        text-align: left;
        margin-left: 580px;
        margin-top: -45px;
    }
    
    .main5 h2{
        font-size: 1.30em;
        text-align: left;
        margin-left: 120px;
        margin-top: 40px;
    }
    
    .main5 il{
        text-align: left;
        text-decoration-line: underline;
        color: rgb(39, 158, 255);
        cursor: pointer;
    }
    
    .nav5 button{
        box-shadow: 5px 5px rgb(0, 0, 0);
            color:black;
            background-color: rgb(255, 217, 0);
            border: 3px solid black;
            width: 100px;
            height: 50px;
            cursor: pointer;
            font-size: 1.25em;
            margin-left: 760px;
            margin-top: 40px;
        }
    
        .nav5 {
            margin-left: 80px;
            margin-top: 10px;
        }

    /* ----------------------------------- */

#back6 {
    background-color: white;
    border: 3px solid black;
    margin-left: 640px;
    margin-right: 600px;
    margin-top: 30px;
    height: 260px;
    width: 1055px;
}

.main6 h1{
    font-size: 2em;
    text-align: left;
    margin-left: 120px;
    margin-top: -70px;
}

.nav6 h3{
    font-size: 1.80em;
    text-align: left;
    margin-left: 630px;
    margin-top: -116px;
}

.nav6 h6{
    font-size: 2em;
    text-align: left;
    margin-left: 580px;
    margin-top: -45px;
}

.main6 h2{
    font-size: 1.30em;
    text-align: left;
    margin-left: 120px;
    margin-top: 40px;
}

.main6 il{
    text-align: left;
    text-decoration-line: underline;
    color: rgb(39, 158, 255);
    cursor: pointer;
}

.nav6 button{
    box-shadow: 5px 5px rgb(0, 0, 0);
        color:black;
        background-color: rgb(255, 217, 0);
        border: 3px solid black;
        width: 100px;
        height: 50px;
        cursor: pointer;
        font-size: 1.25em;
        margin-left: 760px;
        margin-top: 40px;
    }

    .nav6 {
        margin-left: 80px;
        margin-top: 10px;
    }